<div class="page-container">
  <div class="sidebar">
    <img class="image" src="assets/images/kodi_home.png">
    <div class="list-items">
      <a class= "a" routerLink="/home/movies" class="list-item">
        <i class="material-icons">movie</i>
        Films
      </a>
      <a routerLink="/home/tvshows" class="list-item">
        <i class="material-icons">tv</i>
        Séries TV
      </a>
      <a routerLink="/home/music" class="list-item">
        <i class="material-icons">headset</i>
        Musique
      </a>
    </div>
  </div>
  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
