.page-container {
  display: flex;
  height: 100%;
}

.page-content-container {
  padding: 50px;
}

.sidebar {
  height: 100%;
  width: 300px;
  background: #0e1213;
}

.list-items {
  padding-top: 50px;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.80);
  padding: 10px 20px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.list-item:hover {
  color: white;
}

.list-item:hover::before {
  opacity: 1;
  transform: scaleY(1)
}

.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: white;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.2s, opacity 0.2s;
}

.list-item i.material-icons {
  margin-right: 15px;
  font-size: 40px
}
