<div class="div-full" fxLayout="row" fxLayoutAlign="center center">
  <img class="center" src="assets/images/kodi.png">
  <form class="div-full" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="titre">Réinitialiser mot de passe:</h1>
      <p> Un lien de réinitialisation vous a été envoyer à l'address suivante </p>
      <p class="al">{{ email }}</p>
      <a class="oauth-button-linkedin">
        <button class="btn btn-success" (click)="conexion()">Se connecter</button>
      </a>
  </mat-card>
  </form>
</div>
