<div class="div-full" fxLayout="row" fxLayoutAlign="center center">
  <img class="center" src="assets/images/kodi.png">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="titre">Réinitialiser mot de passe:</h1>
    <form class="div-full" fxLayout="row" fxLayoutAlign="space-around center" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field color="warn">
        <input matInput placeholder="E-mail" id="E-mail" name="email" ngModel required>
      </mat-form-field>
      <a class="oauth-button-linkedin">
        <button class="btn btn-success" type="submit" [disabled]="f.invalid">Envoyer email</button>
        <button class="btn btn-danger" (click)="anuller()">Anuller</button>
      </a>
    </form>
  </mat-card>
</div>
